<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>InimigoAndando01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{49,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,68}}</string>
                <key>sourceSize</key>
                <string>{49,68}</string>
            </dict>
            <key>InimigoAndando02.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,2},{49,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,68}}</string>
                <key>sourceSize</key>
                <string>{49,68}</string>
            </dict>
            <key>InimigoAndando03.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{49,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,68}}</string>
                <key>sourceSize</key>
                <string>{49,68}</string>
            </dict>
            <key>InimigoBatendo01.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,2},{44,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,70}}</string>
                <key>sourceSize</key>
                <string>{44,70}</string>
            </dict>
            <key>InimigoBatendo02.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,2},{58,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,67}}</string>
                <key>sourceSize</key>
                <string>{58,67}</string>
            </dict>
            <key>InimigoBatendo03.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,2},{58,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,67}}</string>
                <key>sourceSize</key>
                <string>{58,67}</string>
            </dict>
            <key>InimigoMorrendo01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{61,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,34}}</string>
                <key>sourceSize</key>
                <string>{61,34}</string>
            </dict>
            <key>InimigoMorrendo02.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,74},{52,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,47}}</string>
                <key>sourceSize</key>
                <string>{52,47}</string>
            </dict>
            <key>InimigoMorrendo03.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,74},{82,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,26}}</string>
                <key>sourceSize</key>
                <string>{82,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>inimigo1.png</string>
            <key>size</key>
            <string>{321,123}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7098dd35dfcb768994d0a0cf6b3c7ee0:c5d79a08643d4cf1554973e00772ec65:4f2c31543ca8db07c17348341415f5a1$</string>
            <key>textureFileName</key>
            <string>inimigo1.png</string>
        </dict>
    </dict>
</plist>
